$darkBlueBackground: #052A3A;
$lightBlueBackground: #1A303F;
$lightGreenBackground: #00BCA5;

$whiteText: #ffffff;
$greenText: #00BCA5;

$mobileWidth: 480px;
$tabletWidth: 768px;
$smDesktopWidth: 1024px;
$containerWidth: 1188px;

$roboto-font-path: "../../font/roboto" !default;
