<div class="header">
    <div class="wrapper">
        <div class="header-container">
            <div class="header-container-left">
                <a class="burger-button" href="#">
                    <img src="{{ imageUrls.burger }}" alt="Logo">
                </a>
                <a href="#">
                    <img src="{{ imageUrls.logo }}" alt="Logo">
                </a>
            </div>
            <div class="header-container-right">
                <div class="input-container">
                    <img src="{{ imageUrls.search }}" alt="Logo">
                    <input type="text" placeholder="Search..." />
                </div>
                <a class="chat-button" href="#">
                    <img src="{{ imageUrls.chat }}" alt="Logo">
                    <span>Chat</span>
                </a>
            </div>

        </div>
    </div>
</div>
